/** Elmiminar estilos*/ 
* {
  margin:0;
  padding: 0;
}

/**Patron desde https://freefrontend.com/css-background-patterns/   **/
body {
  background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  font-family: 'Manjari', sans-serif;
}

/**Header*/
.title h1{
  padding: 20px 0;
  text-align: center;
  font-size: 2.9em;
  text-transform: uppercase;
}

.container{
  background: #fff;
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;
  /*organizar elementos dentro del container*/
  display: grid;
  /*espacio entre contenedores*/
  gap: 1.6em;
  /*colocar columnas crear 5 columnas*/
  grid-template-columns: repeat(5, 1fr);
}

.content > .article{
  background: #808e9b;
  padding: 20px;
  margin-top: 5px;
  color: #fff;
}

.content .article h1,
.content .article p{
  padding: 10px;
  overflow:auto;
}

/**para los elemtos dentro del container**/
.container > .header>,
.container > .content>,
.container > .sidebar>,
.container > .footer>{
  border: 2px solid #000000;
  background: pink;
  padding: 10px;
  
}

.container .header,
.container .footer{
  grid-column: 1/6;
  background: #a4a4a4;
  color: red;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*usamos span 3  = 1/4 */
.container .content{
  grid-column: span 3;
}

/*usamos span 2  = 4/6 */
.container .sidebar{
  grid-column: span 2;
  background: #3d97f0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 2px solid #000000;
}

.container > .sidebar img{
  width: 100%;
}

.container > .sidebar p{
  width: 100%;
  margin-bottom: 30px;
}

.container > .related-post{
  background: #2d3436;
  color:#fff;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

/**Añadiendo animacion*/
.container > .related-post:hover{
  cursor: pointer;
  color: #000000;
  background: #fff;
}

/**Responsive
* https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/

@media screen and (max-width:768px){
  body{
    /*background: #000;*/
  }

  .header{
    text-align: center;
  }

  .container .content{
    grid-column: 1/-1;
  }

  .container .sidebar{
    grid-column: span 5;
  }

  .container .related-post{
    grid-column: 1/6;
  }
}